html, body, h1, h2, h4, div, ul, li, p, a{
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans serif;
	font-size: 100%;
	font-weight: 400;
}
nav {
	width: 100%;
	margin: 0 auto;
	position: absolute;
	background-color:  #228B22;
	}

html,
body {
  height: 100%;
  
}


#imaginary_container{
    margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.content {
  padding-bottom: 90px;
}
	nav ul.menu { 
	width: 600px;
	overflow: auto; 
	margin: 0 auto;}

nav ul.menu li {
	margin: 0;  
  	float: left; 
	list-style: none;}
	
nav ul.menu li a:link, nav ul li a:visited{ 
	width: 140px;
	padding-top: 6px;
	padding-bottom: 6px;
	color: #228B22;
	background-color: #ADFF2F;
	display: block;
	text-decoration: none;
	outline: none;
	text-align: center;
	font-size: .75em;
	}	
	
nav ul.menu li a:hover, nav ul li a:active{
	background-color: #90EE90;
	transition: color .75s}
	
.menu li ul {
	display:none;
	position:absolute;
	width: 150px;
}
.menu li:hover ul {
	display:block;}
	

.menu li ul li{
  text-align:center;}


.menu li ul li a{
  font-size:14px;
  color:  #228B22;
  text-decoration:none;}

.menu li ul li a:hover{
  font-size: 14px;
  color: red;
text-decoration:none;}

div #huma {
	margin: 0 auto;
	}
	
		
div #wrapper {
	width: 1000px;
	margin: 0 auto;
	display: table;
	}
	


.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}

.footer {
  position: absolute;
     height: 40px;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
	
}